nav{
    background-color: #2e3a59;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    align-items: center;
    z-index: 3;
    position: sticky;
    top: 0;
}

.logo{
    font-family: DM-Serif-Display;
    font-size: 4.5rem;
    font-weight: 600;
}

ul{
    list-style: none;
}

.li_nav{
    color: #919191;
}

.ul_nav{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
}